/* Import local fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

@font-face {
    font-family: 'FontHeader';
    src: url("fonts/Montserrat-ExtraLight.otf") format("opentype");
}

@font-face {
    font-family: 'FontNormal';
    src: url("fonts/Montserrat-Light.otf") format("opentype");
}

@font-face {
    font-family: 'FontBold';
    font-weight: bold;
    src: url("fonts/Montserrat-Regular.otf") format("opentype");
}

/* Headers and body styling */

body {
    font-family: 'Roboto';
    font-weight: 300;
    margin: 30px 75px 75px 75px; 
    color: rgb(31, 31, 31);
}
h1 {
    font-family: 'Roboto';
    font-weight: 300;
    color: #383838;
    line-height: 2px;
    font-size: 30pt;
}
h2, h3, h4, h5, h6 {
    font-family: 'Roboto';
    font-weight: 400;
    color: #383838
}

/* Details and summary styling */

@keyframes slideDown {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

details {
    font-family: 'FontNormal';
}

details[open] > summary::before {
    font-family: "FontNormal";
    transform: rotate(45deg);
}

details[open] summary ~ * {
    animation: slideDown .5s ease-in-out;
    padding-left: 2.5rem;
}

details > summary::before {
    position: relative;
    will-change: transform;
    transition: transform 300ms ease;
    font-family: "FontNormal";
    font-size: 3.1rem;
    content: "+";
    left: -1rem;
    display: inline-block;
    width: 1.6rem;
    text-align: center;
    color: rgb(34, 34, 34);
}
  
summary {
    list-style: none;
    cursor: pointer;
    display: block;
    outline: 0;
    font-size: 2.5rem;
    line-height: 3.5rem;
    font-family: 'FontHeader';
}
  
summary::-webkit-details-marker {
    display: none;
}
 
/* Radio buttons styling */

.radiobutton-group > label {
    padding: .15em .5em;
    cursor: pointer;
    margin-right: -1px auto;
    color: rgb(31, 31, 31);
    display: inline-block;
    font-size: 20px;
}

.radiobutton-group input {
    position: relative;
    cursor: pointer;
    height: 18px;
    width: 18px;
  }

/* Banner properties */
div.banner {
    height: 100%; 
    position: fixed; 
    left: 0;
    width: 220 px;
    z-index: 1;
    top: 0;
    padding: 50px 50px 50px 30px;
    box-sizing: border-box;
    background-color: rgb(243, 243, 243);
}

/* Banner link */
.banner_link{
    font-family: 'Roboto';
    font-weight: 500;
    color: #8E8E8E;
    letter-spacing: 0.08em;
}

.banner_link:link{
    text-decoration: None;
}
.banner_link:hover{
    text-decoration: None;
    color: #131313;
}
.banner_link:visited{
    text-decoration: None;
}
.banner_link:active{
    text-decoration: None;
}

/* Page layout */
div.page_content {
    margin-left: 300px;
    margin-top: 80px
}

div.page_left {
    float: left;
    width: 600px;
}

div.footer {
    margin-left: 300px;
    padding: 0px 10px;
}


